#centered-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  background-color: #f50303;
  text-align: center;
  padding: 20px;
  border: 1px solid #c71515;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(red, green, blue, alpha);
}
